:root {
    --light-accent: #00aeff;
    --hover: #0195DB;
	--light-white: #fff;
	--light-black: #08090d;
	--light-gray: #888;
	--light-background: #f4f4f4;
	--light-stroke: #e9e9e9;
	--light-light-gray: #d8d8d8;
	--light-green: #09a854;
	--light-purple: #4813cb;
	--light-red: #ef3124;
	--dark-accent: #00aeff;
	--dark-white: #fff;
	--dark-black: #101010;
	--dark-background: #1c1c1c;
	--dark-gray: #6a6a6a;
	--dark-stroke: #2c2c2c;
	--dark-light-gray: #282828;
    --font-family: "Inter", sans-serif;
    --second-family: "Manrope", sans-serif;
    --main-font-size: 16px;
    --main-font-weight: 500;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background: white;
    color: var(--light-black);
    font-size: var(--main-font-size);
    line-height: 1.38;
    font-weight: var(--main-font-weight);
}
ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
h1,
h2,
h3 {
    margin: 0;
    display: block;
    padding: 0;
}
p {
    margin: 0;
}
article,
address,
aside,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
address{
    font-style: normal;
}
section {
    display: block;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
svg,
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    color: inherit;
    text-underline-offset: 3px;
    text-decoration: underline;
    transition: all 0.3s;
}
a:hover {
    text-decoration-color: transparent;
    color: var(--light-accent);
}
.container{
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}
h1,
.h1{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 1.15;
}
h2,
.h2{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
}
h3,
.h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
}
h4,
.h4{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
}
h5,
.h5{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 16px;
}
.pad{
    padding: 64px 0;
}
div.swiper-slide{
    height: auto;
}
.pad-top{
    padding: 32px 0 64px;
}
.pad-medium-top{
    padding-top: 32px;
}
.pad-medium{
    padding: 32px 0;
}

.modal{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	display: flex;
    justify-content: flex-end;
    align-items: center;
	opacity: 0;
	visibility: hidden;
    padding: 20px 32px;
	transition: all 0.3s;
}
.modal.show{
	opacity: 1;
	visibility: visible;
}
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    backdrop-filter: blur(8px);
	background: rgba(8, 9, 13, 0.8);
}
.modal__wrapper{
	position: relative;
    max-width: 424px;
    width: 100%;
	overflow: hidden;
    max-height: 100%;
    overflow-y: auto;
	padding: 0;
    background: var(--light-background);
    border: 1px solid var(--light-stroke);
    border-radius: 4px;
    scrollbar-width: none;
    min-height: calc(100vh - 40px);
    min-height: calc(100dvh - 40px);
    display: flex;
    flex-direction: column;
}
.modal__box{
    padding: 80px 24px 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.modal__close{
	margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
.modal__close .trapeze__text{
    display: flex;
    align-items: center;
    line-height: 1.38;
}
.modal__close .trapeze::after{
    display: none;
}
.modal__line{
    display: grid;
    grid-template-columns: 2px minmax(0, 1fr) 2px;
    gap: 8px;
    margin: 24px 0;
}
.modal__line::before,
.modal__line::after{
    content: '';
    display: block;
    width: 2px;
    height: 2px;
    background: var(--light-black);
}
.modal__line span{
    height: 2px;
    width: 100%;
    display: block;
    background: var(--light-stroke);
}
.modal__row{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.modal-radio{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 8px;
}
.modal-radio__item{
    display: block;
    position: relative;
}
.modal-radio__item input{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
}
.modal-radio__content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    min-height: 48px;
    padding: 8px 12px;
    border: 1px solid var(--light-stroke);
    color: var(--light-gray);
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s;
}
.modal-radio__item input:checked + .modal-radio__content{
    border-color: var(--light-black);
    color: var(--light-black);
}
.modal-radio__icon{
    transition: all 0.3s;
    flex-shrink: 0;
}
.modal-radio__item input:checked + .modal-radio__content .modal-radio__icon{
    color: var(--light-accent);
}
.agree{
    margin-top: 8px;
}
.check {
    position: relative;
    user-select: none;
}
.check__input{
    display: none;
}
.check__label{
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--light-black);
    display: grid;
    grid-template-columns: 30px minmax(0, 1fr);
    gap: 12px;
    align-items: center;
}
.check__label a{
    font-weight: 500;
    color: var(--light-black);
}
.check__label:before{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid var(--light-black);
    transition: all 0.3s;
}
.check__label:after {
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    background: var(--light-black);
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.3s;
}
.agree .check__label:before{
    width: 24px;
    height: 24px;
}
.agree .check__label:after{
    width: 20px;
    height: 20px;
}
.agree .check__label{
    grid-template-columns: 24px minmax(0, 1fr);
}
.check.active .check__label:after{
    opacity: 1;
}
.btn.modal__btn{
    margin-top: auto;
}
.modal__inputs{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.connection-fields__item{
    display: none;
}
.connection-fields__item.active{
    display: block;
}
.quiz-quest,
.modal__text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
body.lock{
    overflow: hidden;
}
.quiz-quest__row{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
}
.quiz-quest__row--secondary{
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.quiz-quest__wide{
    grid-column: 1 / -1;
}
.modal-config{
    justify-content: center;
}
.config{
    position: relative;
    max-width: 1376px;
    width: 100%;
    overflow: hidden;
    max-height: 100%;
    overflow-y: auto;
    padding: 0;
    min-height: calc(100vh - 40px);
    min-height: calc(100dvh - 40px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.config-bottom{
    position: relative;
    border: 1px solid var(--light-stroke);
    border-radius: 4px;
    background: var(--light-background);
    padding: 56px 24px 24px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 266px;
    align-items: center;
    gap: 24px;
    overflow: hidden;
}
.config-bottom__label{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.config-bottom__label .trapeze__text{
    font-size: 16px;
}
.config-result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.config-price{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.config-price__label{
    font-size: 14px;
    color: var(--light-gray);
}
.config-top{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    height: calc(100dvh - 204px);
    max-height: calc(100dvh - 204px);
}
.config-item{
    padding: 56px 24px 24px;
    border: 1px solid var(--light-stroke);
    border-radius: 4px;
    background: var(--light-background);
    position: relative;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}
.config-numb{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
}
.config__nav{
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 3;
}
.config__zoom{
    border-radius: 4px;
    padding: 0;
    width: 48px;
    height: 48px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-black);
    cursor: pointer;
    outline: none;
    color: white;
    position: absolute;
    bottom: 24px;
    right: 24px;
    z-index: 3;
}
.config__zoom svg{
    transition: all 0.3s;
}
.config__zoom:hover svg{
    transform: scale(1.1);
}
.config-slider{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.config__swiper{
    height: 100%;
}
.config-slider__item{
    height: 100%;
    display: block;
}
.config-slider__item img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: contain;
}
.config-item__top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.config-nav{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.config-nav__item{
    background: var(--light-white);
    border-radius: 4px;
    padding: 8px;
    border: 1px solid var(--light-white);
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    display: grid;
    grid-template-columns: 80px minmax(0, 1fr) 48px;
    gap: 12px;
    align-items: center;
}
.config-nav__icon{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-stroke);
    border-radius: 4px;
    background: var(--light-background);
}
.config-nav__icon img{
    transition: all 0.3s;
}
.active .config-nav__icon img{
    filter: invert(49%) sepia(15%) saturate(6036%) hue-rotate(171deg) brightness(104%) contrast(103%);
}
.config-nav__content{
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: left;
}
.config-nav__title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    color: var(--light-black);
}
.config-nav__desc{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    color: var(--light-gray);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.config-nav__arr{
    border-radius: 4px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-background);
    transition: all 0.3s;
}
.config-category__next svg,
.config-nav__arr svg{
    transform: rotate(-90deg);
}
.config-nav__item.active{
    border-color: var(--light-accent);
}
.config-nav__item.active .config-nav__title{
    color: var(--light-accent);
}
.config-nav__item.active .config-nav__arr{
    background: var(--light-accent);
    color: white;
}
.config-category .swiper-slide{
    width: fit-content;
}
.config-category__item{
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 138%;
    text-align: center;
    color: var(--light-gray);
    padding: 12px 12px;
    border: none;
    border-bottom: 4px solid transparent;
    background: none;
    width: max-content;
    cursor: pointer;
}
.config-category__item.active{
    color: var(--light-accent);
    border-color: var(--light-accent);
}
.config-category{
    position: relative;
    border-bottom: 1px solid var(--light-stroke);
}
.config-category__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-background);
    width: 22px;
    height: 100%;
    padding: 0;
    border: none;
    cursor: pointer;
    z-index: 3;
    position: absolute;
    top: 0;
    border-radius: 4px;
    transition: all 0.3s;
}
.config-category__prev{
    left: 0;
}
.config-category__next{
    right: 0;
}
.config-category__btn:hover{
    color: white;
    background: var(--light-accent);
}
.config-category__btn.swiper-button-disabled{
    display: none;
}
.config-category__prev svg{
    transform: rotate(90deg);
}
.config-custom{
    padding: 12px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}
.config-tab__content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.config-choice{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.config-choice__item{
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: 1px solid var(--light-stroke);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
}
.config-choice__item.active{
    border-color: var(--light-accent);
}
.config-choice__top{
    background: var(--light-white);
    padding: 8px;
    display: grid;
    grid-template-columns: 80px minmax(0, 1fr);
    gap: 12px;
    align-items: center;
}
.config-choice__img{
    border: 1px solid var(--light-stroke);
    border-radius: 4px;
    height: 80px;
}
.config-choice__price{
    padding: 8px;
    font-size: 14px;
    line-height: 1.43;
    background: var(--light-white);
    text-align: center;
}
.config-tab__item,
.config-choice__item.hidden,
.config-mob-navigation,
.category-item__content--mob,
.config-choice__item.active span:first-child,
.config-choice__item input,
.config-choice__price span:last-child{
    display: none;
}
.config-choice__item.active span:last-child{
    display: block;
    color: var(--light-accent);
}
.config-tab__item.active{
    display: block;
}

@media all and (min-height: 968px){
    .config{
        max-height: 984px;
        min-height: unset;
        height: 100%;
    }
    .config-top{
        max-height: calc(100% - 204px);
    }
}

@media all and (max-width: 1376px){
    .config,
    .config-top{
        gap: 8px;
    }
    .config-item{
        padding: 56px 16px 16px;
    }
    .config-nav__item{
        grid-template-columns: 70px minmax(0, 1fr) 42px;
    }
    .config-choice__img,
    .config-nav__arr,
    .config-nav__icon{
        height: 70px;
    }
    .config-nav__title{
        font-size: 16px;
    }
    .config-nav__desc{
        font-size: 14px;
    }
    .config-choice__top{
        grid-template-columns: 70px minmax(0, 1fr);
    }
    .config-top{
        height: calc(100dvh - 171px);
        max-height: calc(100dvh - 171px);
    }
    .config-bottom{
        padding: 44px 16px 16px;
    }
}

@media all and (max-width: 1200px){
    .pad-top,
    .pad{
        padding: 32px 0;
    }
    h1,
    .h1{
        font-size: clamp(28px, 3.3vw, 40px);
        line-height: 1.19;
    }
    h2,
    .h2{
        font-size: 24px;
        line-height: 125%;
    }
    h3,
    .h3{
        font-size: 20px;
        line-height: 130%;
    }
    h,
    .h4{
        font-size: 16px;
    }
}

@media all and (max-width: 992px){
    .config-bottom__label .trapeze__text{
        font-size: 14px;
        min-height: 28px;
    }
    .modal-config{
        padding: 0;
    }
    .config{
        min-height: 100dvh;
        gap: 0;
    }
    .config-top {
        height: calc(100dvh - 184px);
        max-height: unset;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        overflow-y: auto;
        gap: 0;
        background: var(--light-background);
    }
    .config-item{
        flex-shrink: 0;
        height: auto;
        border-radius: 0px;
        border: none;
    }
    .config-slider{
        position: relative;
    }
    .config-slider__item img{
        max-height: 340px;
        height: 100%;
        position: relative;
    }
    .category-item__content--mob{
        display: block;
    }
    .config-slider-wrap{
        position: relative;
        border: 2px solid var(--light-stroke);
        border-radius: 4px;
        padding: 16px;
        margin-top: 24px;
    }
    .config__nav{
        top: 16px;
        right: 16px;
    }
    .config__zoom{
        bottom: 16px;
        right: 16px;
    }
    .config-item--cat .category-item__content,
    .config-item--components,
    .config-result .title-rec,
    .active-components .config-item--cat,
    .active-components .config-item--slider,
    .config-bottom .modal__close,
    .config-item__top{
        display: none;
    }
    .config-bottom{
        border-radius: 0px;
        border: none;
        border-top: 1px solid var(--light-stroke);
        background: var(--light-white);
    }
    .config-result{
        justify-content: center;
    }
    .config-bottom{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .config-bottom__btn{
        width: 100%;
    }
    .config-mob-navigation{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 9;
    }
    .btn-back{
        padding: 0;
        border: none;
        cursor: pointer;
        outline: none;
        display: none;
    }
    .active-components .btn-back{
        display: block;
    }
    .active-components .config-item--components{
        display: block;
    }
    .config-item--cat{
        padding-top: 0;
    }
    .config-item--slider{
        padding-bottom: 0;
    }
}

@media all and (max-width: 568px){
    .modal{
        padding: 0;
    }
    .modal__wrapper{
        height: 100dvh;
        border-radius: 0;
        max-width: 100%;
    }
    .modal__box{
        padding: 56px 16px 16px;
    }
    .modal-radio{
        overflow: hidden;
        overflow-x: auto;
        display: flex;
        margin: 0 -16px 0 0;
        padding: 0 16px 0 0;
        scrollbar-width: none;
    }
    .modal-radio__item{
        flex-shrink: 0;
    }
    .config-category__next{
        pointer-events: none;
        background: linear-gradient(90deg, rgba(244, 244, 244, 0) 0%, #f4f4f4 100%);
        width: 48px;
        right: -1px;
    }
    .config-category__prev,
    .config-category__next svg{
        display: none;
    }
}

@media all and (max-width: 380px){
    .config-bottom{
        padding-top: 35px;
        gap: 8px;
    }
    .config-bottom__btn .btn__content{
        padding: 14px;
    }
    .config-top{
        height: calc(100dvh - 169px);
    }
}