.consult__box{
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    gap: 20px;
}
.consult-item__box,
.consult-item{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
}
.consult-item__content{
    padding: 4px;
    min-height: 200px;
}
.consult-item__bottom,
.consult-item__top{
    position: absolute;
    max-width: calc(100% - 40px);
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.consult-item__top{
    top: 0;
}
.consult-item__bottom{
    bottom: 0;
}

@media all and (min-width: 992px){
    .consult-item.reverse .consult-item__img{
        order: 1;
    }
    .consult-item.reverse .consult-item__box{
        order: 2;
    }
}

@media all and (max-width: 992px){
    .consult-item{
        display: flex;
        flex-direction: column-reverse;
    }
    .consult-item__img{
        min-height: 200px;
    }
    .consult-item__bottom{
        bottom: unset;
        top: 0;
    }
    .consult-item__bottom .trapeze::before{
        clip-path: polygon(0 0, 100% 0, 100% 100%, var(--trapeze-rect) 100%);
    }
    .consult-item__bottom .trapeze::after{
        clip-path: polygon(0 0, 100% 0, calc(100% - var(--trapeze-rect)) 100%, 0 100%);
    }
}

@media all and (max-width: 768px){
    .consult-item__box{
        display: flex;
        flex-direction: column;
    }
    .consult-item__content{
        min-height: unset;
    }
}