.cta{
    position: relative;
    padding: 48px;
    border: 1px solid var(--light-stroke);
    border-radius: 4px;
}
.cta-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.cta__content .accent-line__desc,
.cta__content{
    color: white;
}
.cta__content .accent-line__title::before,
.cta__content .accent-line::before{
    background-color: var(--light-white);
}
.cta__btn{
    min-width: 246px;
}
.cta__content{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    max-width: 50%;
}
.cta__img{
    position: absolute;
    bottom: 0;
    left: 55%;
    max-width: 34%;
}

@media all and (max-width: 768px){
    .cta{
        padding: 24px 24px 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .cta__content{
        max-width: 100%;
        gap: 24px;
    }
    .cta__img{
        position: relative;
        max-width: 90%;
        left: 0;
        margin: 0 auto;
    }
    .cta__btn{
        min-width: unset;
        width: 100%;
    }
    .cta__content .accent-line__desc{
        display: none;
    }
    .cta__content .accent-line__title::before{
        display: none;
    }
    .cta__content .accent-line::before{
        width: 8px;
    }
    .cta__content .accent-line{
        padding: 0 0 0 16px;
    }
    .cta__content .accent-line::after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        width: 0;
        height: 0;
        border-top: 8px solid var(--light-white);
        border-right: 8px solid transparent;
    }
}