.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--light-white);
}
.header-top-wrap{
    background: var(--light-background);
}
.header-top{
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
}
.header__adress{
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--light-black);
    padding-left: 12px;
    border-left: 1px solid var(--light-black);
}
.header__phone{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--light-black);
    border-right: 1px solid var(--light-black);
    padding-right: 12px;
}
.header-bottom-wrap{
    border-bottom: 1px solid var(--light-stroke);
    position: relative;
    z-index: 2;
    background: var(--light-white);
}
.header-bottom{
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}
.header__nav{
    flex: auto;
}
.header__menu{
    display: flex;
    align-items: center;
    gap: 12px;
}
.header__menu a{
    text-decoration: none;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 138%;
    color: var(--light-black);
    position: relative;
    display: flex;
}
.header__menu>li>a{
    padding: 13px 16px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}
.header__menu>li:not(:last-child)>a:after{
    content: '';
    width: 4px;
    height: 4px;
    background: var(--light-black);
    display: block;
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}
.header__menu>li.show>a,
.header__menu>li>a:hover{
    border-color: var(--light-stroke);
    color: var(--light-accent);
}
.header-cart{
    display: flex;
    align-items: center;
    padding: 12px 33px;
    font-family: var(--second-family);
    font-weight: 600;
    text-decoration: none;
    border: 1px solid var(--light-stroke);
}
.header-cart__count{
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--light-accent);
}
.header-cart__count:empty{
    display: none;
}
.header-cart__title{
    display: flex;
    align-items: center;
}
.header-cart__title:before{
    content: '';
    background: var(--light-stroke);
    height: 24px;
    width: 1px;
    display: block;
    margin: 0 16px;
}
.sub-menu{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 333px;
    position: relative;
    transition: all 0.3s;
}
.header__menu .sub-menu a svg{
    color: var(--light-white);
}
.header:before{
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(42px);
    background: rgba(8, 9, 13, 0.8);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: all 0.3s;
}
.menu-show:before{
    opacity: 1;
    pointer-events: unset;
}
.header-backdrop{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    background: var(--light-white);
    opacity: 0;
    transition: height 0.3s, opacity 0.3s;
    z-index: 1;
    pointer-events: none;
}
.header.menu-show .header-backdrop{
    opacity: 1;
    pointer-events: auto;
}
.header__menu .sub-menu .menu-item-has-children:hover .sub-menu{
    opacity: 1;
    pointer-events: unset;
}
.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% - 16px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    transition: all 0.3s;
    padding: 40px 0 32px;
}
.menu-item-has-children.show > .dropdown-menu {
    opacity: 1;
    pointer-events: auto;
}
.dropdown-menu > .sub-menu > li {
    padding-right: 20px;
}
.dropdown-menu .sub-menu .sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
    border-left: 1px solid var(--light-stroke);
    opacity: 0;
    pointer-events: none;
}
.dropdown-menu .menu-item-has-children.show > .sub-menu {
    opacity: 1;
    pointer-events: auto;
}
.dropdown-menu .sub-menu li {
    padding-left: 24px;
}
.dropdown-menu .sub-menu a {
    padding: 16px 32px 16px 0;
    font-weight: 700;
    text-transform: uppercase;
}
.dropdown-menu .sub-menu li.show>a,
.dropdown-menu .sub-menu a:hover {
    background: var(--light-accent);
    color: var(--light-white);
    padding-left: 32px;
}
.dropdown-menu>.sub-menu>li.show>a,
.dropdown-menu>.sub-menu>li>a:hover{
    padding-right: 0px;
}
.dropdown-menu .sub-menu .sub-menu a {
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}