.gray{
    background: var(--light-background);
}
.border-side{
    position: relative;
}
.border-side::before,
.border-side::after{
    content: '';
    background-color: var(--light-black);
    width: 2px;
    height: calc(100% - 2px);
    top: 1px;
    display: block;
    position: absolute;
}
.border-side::before{
    left: 1px;
}
.border-side::after{
    right: 1px;
}
.pointer{
    position: relative;
    padding: 2px;
}
.pointer__top,
.pointer__bottom{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
}
.pointer__bottom:before,
.pointer__bottom:after,
.pointer__top:before,
.pointer__top:after{
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;
    background: var(--light-black);
}
.pointer__bottom:before,
.pointer__bottom:after{
    bottom: 0;
}
.pointer__top:before,
.pointer__top:after{
    top: 0;
}
.pointer__top:before,
.pointer__bottom:before{
    left: 0;
}
.pointer__top:after,
.pointer__bottom:after{
    right: 0;
}
.btn{
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 138%;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: none;
    border: none;
    transition: all 0.3s;
    padding: 2px 3px;
    display: flex;
    cursor: pointer;
}
.btn__content{
    background: var(--light-accent);
    color: var(--light-white);
    width: 100%;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    transition: all 0.3s;
}
.btn--white .btn__content{
    background: var(--light-white);
    color: var(--light-black);
}
.btn:hover .btn__content{
    background: var(--hover);
}
.btn--white:hover .btn__content,
.btn--white .pointer__bottom:before,
.btn--white .pointer__bottom:after,
.btn--white .pointer__top:before,
.btn--white .pointer__top:after{
    background: var(--light-white);
}
.breadcrumb a:hover,
.btn--white:hover .btn__content{
    color: var(--light-accent);
}
.nav{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
    width: fit-content;
}
.nav__item{
    border-radius: 4px;
    padding: 0;
    width: 48px;
    height: 48px;
    border: none;
    background: var(--light-black);
    color: white;
    margin: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}
.nav__prev svg{
    transform: rotate(90deg);
}
.nav__next svg{
    transform: rotate(-90deg);
}
.nav__item.swiper-button-disabled,
.nav__item.disabled{
    background: var(--light-white);
    color: var(--light-light-gray);
    cursor: default;
}
.nav--gray .nav__item.swiper-button-disabled,
.nav--gray .nav__item.disabled{
    background: var(--light-background);
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}
.info-pointer{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
}
.info-pointer::before,
.info-pointer::after{
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: var(--light-black);
}
.info-pointer span{
    background-color: var(--light-stroke);
    height: 1px;
    width: auto;
    display: block;
    flex: auto;
}
.info-pointer--top::after,
.info-pointer--bottom::before{
    background: var(--light-light-gray);
}
.info__text{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 16px;
}
.btn-secondary:hover,
.btn-secondary__icon,
.info__desc{
    color: var(--light-accent);
}
.title-ui{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.title-ui__line{
    width: auto;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.title-ui__line::before,
.title-ui__line::after{
    content: '';
    display: block;
    width: 2px;
    height: 2px;
    background: var(--light-black);
    flex-shrink: 0;
}
.title-ui__line span{
    display: block;
    width: 100%;
    height: 2px;
    background: var(--light-black);
    flex: 1;
}
.btn-secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 32px;
    font-family: var(--second-family);
    font-weight: 600;
    text-decoration: none;
    border: 1px solid var(--light-stroke);
    background: var(--light-white);
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
}
.btn-secondary--transparent{
    border: none;
    background: none;
}
.btn-secondary--transparent .btn-secondary__icon{
    color: inherit;
}
.btn-secondary__title{
    display: flex;
    align-items: center;
}
.btn-secondary__title::before {
    content: '';
    background: var(--light-stroke);
    height: 24px;
    width: 1px;
    display: block;
    margin: 0 16px;
}
.linear{
    background-color: var(--light-background);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Cline x1='23.5' y1='0' x2='23.5' y2='15' stroke='%23ECECEC'/%3E%3Cline x1='23.5' y1='31' x2='23.5' y2='46' stroke='%23ECECEC'/%3E%3Cline x1='0' y1='23.5' x2='15' y2='23.5' stroke='%23ECECEC'/%3E%3Cline x1='31' y1='23.5' x2='46' y2='23.5' stroke='%23ECECEC'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-position: center;
    background-size: 46px 46px;
    overflow: hidden;
}
.linear--border{
    border: 1px solid var(--light-stroke);
    border-radius: 4px;
}
.accent-line{
    position: relative;
    padding: 0 0 4px 16px;
}
.accent-line__title{
    position: relative;
    padding: 4px 0;
}
.accent-line__title::before,
.accent-line::before{
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 1px;
    background-color: var(--light-black);
}
.accent-line__title::before{
    width: 3px;
    left: -15px;
}
.accent-line__desc{
    padding-top: 16px;
    color: var(--light-gray);
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: var(--light-background);
}
body::-webkit-scrollbar-thumb {
    background: var(--light-accent);
}
.btn-def:hover,
body::-webkit-scrollbar-thumb:hover {
    background: var(--hover);
}
.btn-def{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: var(--light-white);
    border-radius: 4px;
    padding: 12px 32px;
    background: var(--light-accent);
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    min-height: 48px;
    transition: all 0.3s;
}
.btn-def:hover{
    color: var(--light-white);
}
.trapeze{
    position: relative;
    display: flex;
    --trapeze-rect: 15px;
}
.trapeze::before,
.trapeze::after {
    content: '';
    display: block;
    width: 20px;
    height: 100%;
    background: var(--light-black);
    position: absolute;
}
.trapeze:not(.trapeze-reverse)::before{
    clip-path: polygon(var(--trapeze-rect) 0, 100% 0, 100% 105%, 0 100%);
}
.trapeze:not(.trapeze-reverse)::after{
    clip-path: polygon(0 0, calc(100% - var(--trapeze-rect)) 0, 100% 100%, 0 105%);
}
.trapeze-reverse::before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, var(--trapeze-rect) 100%);
}
.trapeze-reverse::after{
    clip-path: polygon(0 0, 100% 0, calc(100% - var(--trapeze-rect)) 100%, 0 100%);
}
.trapeze::before{
    left: -19px;
}
.trapeze::after{
    left: calc(100% - 1px);
}
.trapeze__text{
    background: var(--light-black);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--light-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 3px 22px;
    min-height: 32px;
}
.img-absolute{
    position: relative;
    overflow: hidden;
}
.img-absolute img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}
.img-hover:hover img{
    transform: scale(1.05);
}
.top{
    display: grid;
    grid-template-columns: minmax(0, 1fr) 104px;
    align-items: center;
    gap: 24px;
    padding-bottom: 16px;
    position: relative;
    border-bottom: 1px solid var(--light-stroke);
}
.colors{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.colors__item{
    width: 36px;
    height: 36px;
    border-radius: 10px;
    border: 1px solid transparent;
    background: none;
    position: relative;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
}
.colors__item.active{
    border-color: var(--light-accent);
}
.colors__item::before{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    width: 32px;
    height: 32px;
}
.color-black::before{
    background: #162640;
}
.color-orange::before{
    background: #edc620;
}
.color-white::before{
    background: var(--light-white);
}
.options{
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--light-stroke);
}
.options__item{
    display: grid;
    grid-template-columns: 48px minmax(0, 1fr);
    gap: 12px;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid var(--light-stroke);
}
.options__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.options__icon::before{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    height: 32px;
    width: 1px;
    background-color: var(--light-light-gray);
    top: 50%;
    transform: translateY(-50%);
}
.options__icon img{
    max-width: 24px;
}
.options__content{
    text-align: left;
}
.options__title{
    color: var(--light-gray);
}
.options__desc{
    font-weight: 600;
}
.pagination-ui{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    gap: 8px;
}
.pagination-ui .swiper-pagination-bullet{
    margin: 0 !important;
    opacity: 1;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--light-background);
    transition: all 0.3s;
}
.pagination-ui--white .swiper-pagination-bullet{
    background: var(--light-white);
}
.pagination-ui .swiper-pagination-bullet-active{
    background: var(--light-accent);
}
.title-color span{
    color: var(--light-accent);
}
.title-side{
    position: relative;
    border-left: 4px solid var(--light-accent);
    padding: 4px 0px 4px 20px;
}
.title-side span{
    color: var(--light-accent);
}
.breadcrumb{
    display: flex;
    align-items: center;
    padding-top: 24px;
    overflow: hidden;
    overflow-x: auto;
    margin: 0 -24px 0 0;
}
.breadcrumb a,
.breadcrumb__single{
    padding: 7px 24px;
    font-family: var(--second-family);
    font-weight: 600;
    flex-shrink: 0;
}
.breadcrumb a{
    color: var(--light-gray);
    text-decoration: none;
    border: 1px solid var(--light-stroke);
}
.breadcrumb__single{
    color: var(--light-black);
    border-bottom: 1px solid var(--light-stroke);
    border-top: 1px solid var(--light-stroke);
}
.breadcrumb li{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.breadcrumb li:not(:last-child)::after{
    content: '';
    display: block;
    width: 2px;
    height: 2px;
    background: var(--light-black);
    margin: 0 16px;
}
.line-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 8px;
}
.line-btn::before,
.line-btn::after{
    content: '';
    display: block;
    height: 2px;
    background: var(--light-stroke);
    width: 100%;
    flex: auto;
}
.line-btn > *{
    flex-shrink: 0;
}
.uppercase{
    text-transform: uppercase;
}
.title-rec{
    position: relative;
    display: grid;
    grid-template-columns: 8px minmax(0, 1fr);
    gap: 16px;
}
.title-rec::before{
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background-color: var(--light-black);
}
.title-rec--lg::before{
    width: 8px;
}
.title-rec::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-top: 4px solid var(--light-black);
    border-right: 4px solid transparent;
}
.title-rec--lg::after{
    border-width: 8px;
}
@keyframes showEl{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.form-input input,
.form-input textarea{
    border: 1px solid var(--light-stroke);
    padding: 8px 16px;
    width: 100%;
    display: block;
    outline: none;
    min-height: 54px;
    background: var(--light-background);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    color: var(--light-black);
}
.form-input--white input,
.form-input--white textarea{
    background: var(--light-white);
}
.form-input input::placeholder,
.form-input textarea::placeholder{
    color: var(--light-gray);
}
.form-input textarea{
    height: 76px;
    resize: none;
}
.text-ui ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.text-ui ul li{
    padding-left: 13px;
    position: relative;
}
.text-ui ul li::before{
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    background: var(--light-black);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.custom-select-wrapper {
    position: relative;
    width: 100%;
    z-index: 3;
}
.custom-select-option,
.custom-select-display {
    background: var(--light-background);
    cursor: pointer;
    padding: 16px 52px 16px 16px;
    display: flex;
    align-items: center;
    height: 54px;
    border: 1px solid var(--light-stroke);
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--light-gray);
    position: relative;
    transition: all .3s;
}
.custom-select-option::after,
.custom-select-display:after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 10L12 14L8 10' stroke='%2308090D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 16px;
    top: 50%;
    transition: all 0.3s;
    transform: translateY(-50%);
}
.custom-select-option::after{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12L10.2426 16.2426L18.7275 7.75732' stroke='%2300AEFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    opacity: 0;
}
.custom-select-wrapper.active .custom-select-display::after{
    transform: translateY(-50%) rotateX(180deg);
}
.custom-select-option.selected::after{
    opacity: 1;
}
.custom-select-option::before{
    content: '';
    display: block;
    position: absolute;
    left: 1px;
    top: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: var(--light-accent);
    z-index: -1;
    opacity: 0;
    transition: all 0.3s;
}
.custom-select-option:hover::before{
    opacity: 1;
}
.custom-select-option{
    color: var(--light-black);
    z-index: 1;
}
.custom-select-option:hover{
    color: white;
}
.custom-select-display span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.custom-select-original {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}
.custom-select-options {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    background: var(--light-background);
    box-shadow: 0px 4px 9px 0px rgb(1 1 1 / 27%);
    transition: all .3s;
}
.custom-select-options__wrap {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-height: 216px;
    overflow: hidden;
    overflow-y: auto;
}
.custom-select-option:first-child {
    display: none;
}
.custom-select-wrapper.active .custom-select-options {
    opacity: 1;
    transform: translate(0);
    pointer-events: unset;
}
.custom-select-display.selected{
    color: var(--light-black);
}
.border-black{
    border: 2px solid var(--light-black);
    border-radius: 4px;
    overflow: hidden;
}
.line-gal{
    position: absolute;
    width: 50%;
    height: 6px;
    background: var(--light-black);
    z-index: 1;
}
.line-gal--top{
    top: 0;
    right: 0;
}
.line-gal--bottom{
    bottom: 0;
    left: 0;
}
.line-gal--top::before,
.line-gal--bottom::after{
    content: '';
    display: block;
    width: 20px;
    height: 100%;
    background: var(--light-black);
    position: absolute;
}
.line-gal--bottom::after{
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 0 105%);
    left: calc(100% - 1px);
}
.line-gal--top::before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20px 105%);
    right: calc(100% - 1px);
}
.table__item{
    display: grid;
    grid-template-columns: 178px minmax(0, 1fr);
    align-items: center;
    gap: 20px;
    padding: 8px 16px;
}
.char-item.gray .table__item:nth-child(2n),
.table__item:nth-child(2n + 1){
    background: var(--light-background);
}
.char-item.gray .table__item:nth-child(2n +1),
.table__item:nth-child(2n){
    background: var(--light-white);
}
.table__value{
    font-size: 14px;
    line-height: 1.43;
    text-align: right;
    color: var(--light-black);
}
.table__label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: var(--light-gray);
}
.badge{
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.badge span{
    display: block;
    background: var(--light-black);
    font-size: 12px;
    line-height: 150%;
    color: var(--light-white);
    padding: 4px;
    flex: auto;
}
.badge::after{
    content: '';
    display: block;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background: var(--light-black);
    width: 13px;
    align-self: stretch;
    margin-left: -1px;
}
.badge::before{
    content: '';
    display: block;
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
    background: var(--light-black);
    width: 13px;
    align-self: stretch;
    margin-right: -1px;
}
.corner__bottom::before,
.corner__bottom::after,
.corner::before,
.corner::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
    pointer-events: none;
}
.corner::before{
    top: 7px;
    left: 7px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}
.corner::after{
    top: 7px;
    right: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}
.corner__bottom::before{
    bottom: 7px;
    left: 7px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}
.corner__bottom::after{
    bottom: 7px;
    right: 7px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

@media all and (max-width: 992px){
    .title-ui{
        position: relative;
        text-align: center;
        align-items: stretch;
        justify-content: space-between;
        gap: 16px;
    }
    .title-ui__line{
        flex-direction: column;
        gap: 2px;
        flex: none;
    }
    .title-ui__text{
        flex: auto;
    }
    .title-ui__line span{
        height: 100%;
        width: 2px;
    }
    .btn-secondary{
        padding: 14px;
    }
    .btn-secondary--transparent{
        padding: 12px;
    }
    .top__nav{
        display: none;
    }
    .top{
        display: flex;
    }
    .breadcrumb{
        margin: 0 -16px 0 0;
        scrollbar-width: none;
    }
    .breadcrumb li:not(:last-child)::after{
        margin: 0 8px;
    }
    .btn__content{
        padding: 15px 32px;
    }
    .line-gal{
        width: 36%;
        height: 4px;
    }
    .nav__item{
        width: 42px;
        height: 42px;
    }
    .title-side{
        padding: 4px 0px 4px 12px;
    }
}

@media all and (max-width: 768px){
    .accent-line__desc{
        padding-top: 12px;
    }
    .accent-line{
        padding: 0 0 4px 12px;
    }
    .accent-line__title::before{
        left: -11px;
    }
    .select{
        position: relative;
    }
    .custom-select-original {
        pointer-events: unset;
        z-index: 9;
    }
    .form-input input,
    .form-input textarea{
        font-size: 16px;
    }
    .table__item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    .table__value{
        text-align: left;
    }
}