.border-side{
    position: relative;
}
.border-side::before,
.border-side::after{
    content: '';
    background-color: var(--light-black);
    width: 2px;
    height: calc(100% - 2px);
    top: 1px;
    display: block;
    position: absolute;
}
.border-side::before{
    left: 1px;
}
.border-side::after{
    right: 1px;
}
.pointer{
    position: relative;
    padding: 2px;
}
.pointer__top,
.pointer__bottom{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
}
.pointer__bottom:before,
.pointer__bottom:after,
.pointer__top:before,
.pointer__top:after{
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;
    background: var(--light-black);
}
.pointer__bottom:before,
.pointer__bottom:after{
    bottom: 0;
}
.pointer__top:before,
.pointer__top:after{
    top: 0;
}
.pointer__top:before,
.pointer__bottom:before{
    left: 0;
}
.pointer__top:after,
.pointer__bottom:after{
    right: 0;
}
.btn{
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 138%;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: none;
    border: none;
    transition: all 0.3s;
    padding: 2px 3px;
    display: flex;
    cursor: pointer;
}
.btn__content{
    background: var(--light-accent);
    color: var(--light-white);
    width: 100%;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    transition: all 0.3s;
}
.btn:hover .btn__content{
    background: var(--hover);
}
.nav{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
    width: fit-content;
}
.nav__item{
    border-radius: 4px;
    padding: 0;
    width: 48px;
    height: 48px;
    border: none;
    background: var(--light-black);
    color: white;
    margin: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}
.nav__prev svg{
    transform: rotate(90deg);
}
.nav__next svg{
    transform: rotate(-90deg);
}
.nav__item.swiper-button-disabled,
.nav__item.disabled{
    background: var(--light-white);
    color: var(--light-light-gray);
    cursor: default;
}
.nav--gray .nav__item.swiper-button-disabled,
.nav--gray .nav__item.disabled{
    background: var(--light-background);
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}
.info-pointer{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
}
.info-pointer::before,
.info-pointer::after{
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: var(--light-black);
}
.info-pointer span{
    background-color: var(--light-stroke);
    height: 1px;
    width: auto;
    display: block;
    flex: auto;
}
.info-pointer--top::after,
.info-pointer--bottom::before{
    background: var(--light-light-gray);
}
.info__text{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 16px;
}
.btn-secondary:hover,
.btn-secondary__icon,
.info__desc{
    color: var(--light-accent);
}
.title-ui{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.title-ui__line{
    width: auto;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.title-ui__line::before,
.title-ui__line::after{
    content: '';
    display: block;
    width: 2px;
    height: 2px;
    background: var(--light-black);
    flex-shrink: 0;
}
.title-ui__line span{
    display: block;
    width: 100%;
    height: 2px;
    background: var(--light-black);
    flex: 1;
}
.btn-secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 32px;
    font-family: var(--second-family);
    font-weight: 600;
    text-decoration: none;
    border: 1px solid var(--light-stroke);
    background: var(--light-white);
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
}
.btn-secondary--transparent{
    border: none;
    background: none;
}
.btn-secondary--transparent .btn-secondary__icon{
    color: inherit;
}
.btn-secondary__title{
    display: flex;
    align-items: center;
}
.btn-secondary__title::before {
    content: '';
    background: var(--light-stroke);
    height: 24px;
    width: 1px;
    display: block;
    margin: 0 16px;
}
.linear{
    background-color: var(--light-background);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3E%3Cline x1='23.5' y1='0' x2='23.5' y2='15' stroke='%23ECECEC'/%3E%3Cline x1='23.5' y1='31' x2='23.5' y2='46' stroke='%23ECECEC'/%3E%3Cline x1='0' y1='23.5' x2='15' y2='23.5' stroke='%23ECECEC'/%3E%3Cline x1='31' y1='23.5' x2='46' y2='23.5' stroke='%23ECECEC'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-position: center;
    background-size: 46px 46px;
    border: 1px solid var(--light-stroke);
    border-radius: 4px;
    overflow: hidden;
}
.accent-line{
    position: relative;
    padding: 0 0 4px 16px;
}
.accent-line__title{
    position: relative;
    padding: 4px 0;
}
.accent-line__title::before,
.accent-line::before{
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 1px;
    background-color: var(--light-black);
}
.accent-line__title::before{
    width: 3px;
    left: -15px;
}
.accent-line__desc{
    padding-top: 16px;
    color: var(--light-gray);
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: var(--light-background);
}
body::-webkit-scrollbar-thumb {
    background: var(--light-accent);
}
.btn-def:hover,
body::-webkit-scrollbar-thumb:hover {
    background: var(--hover);
}
.btn-def{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: var(--light-white);
    border-radius: 4px;
    padding: 12px 32px;
    background: var(--light-accent);
    text-decoration: none;
    border: none;
    outline: none;
    transition: all 0.3s;
}
.btn-def:hover{
    color: var(--light-white);
}
.trapeze{
    position: relative;
    display: flex;
}
.trapeze::before,
.trapeze::after {
    content: '';
    display: block;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 32px solid var(--light-black);
    
}
.trapeze::before{
    border-left: 20px solid transparent;
}
.trapeze::after{
    border-right: 20px solid transparent;
}
.trapeze__text{
    background: var(--light-black);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--light-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 6px 24px;
    height: 32px;
}
.img-absolute{
    position: relative;
}
.img-absolute img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}
.top{
    display: grid;
    grid-template-columns: minmax(0, 1fr) 104px;
    align-items: center;
    gap: 24px;
    padding-bottom: 16px;
    position: relative;
    border-bottom: 1px solid var(--light-stroke);
}
.colors{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.colors__item{
    width: 36px;
    height: 36px;
    border-radius: 10px;
    border: 1px solid transparent;
    background: none;
    position: relative;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
}
.colors__item.active{
    border-color: var(--light-accent);
}
.colors__item::before{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    width: 32px;
    height: 32px;
}
.color-black::before{
    background: #162640;
}
.color-orange::before{
    background: #edc620;
}
.color-white::before{
    background: var(--light-white);
}
.options{
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--light-stroke);
}
.options__item{
    display: grid;
    grid-template-columns: 48px minmax(0, 1fr);
    gap: 12px;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid var(--light-stroke);
}
.options__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.options__icon::before{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    height: 32px;
    width: 1px;
    background-color: var(--light-light-gray);
    top: 50%;
    transform: translateY(-50%);
}
.options__icon img{
    max-width: 24px;
}
.options__content{
    text-align: left;
}
.options__title{
    color: var(--light-gray);
}
.options__desc{
    font-weight: 600;
}


@media all and (max-width: 992px){
    .title-ui{
        position: relative;
        text-align: center;
        align-items: stretch;
        justify-content: space-between;
        gap: 16px;
    }
    .title-ui__line{
        flex-direction: column;
        gap: 2px;
        flex: none;
    }
    .title-ui__text{
        flex: auto;
    }
    .title-ui__line span{
        height: 100%;
        width: 2px;
    }
    .btn-secondary{
        padding: 16px;
    }
    .top__nav{
        display: none;
    }
    .top{
        display: flex;
    }
}

@media all and (max-width: 768px){
    .accent-line__desc{
        padding-top: 12px;
    }
    .accent-line{
        padding: 0 0 4px 12px;
    }
    .accent-line__title::before{
        left: -11px;
    }
}