.card-item__slider{
    text-decoration: none;
    display: block;
}
div.card-item .card-item__pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 8px;
    bottom: 0;
}
.card-item .card-item__pagination .swiper-pagination-bullet {
    width: auto;
    height: 4px;
    border-radius: 4px;
    background: var(--light-light-gray);
    opacity: 1;
    transition: .3s;
    flex: 1;
}
.card-item .card-item__pagination .swiper-pagination-bullet-active {
    background: var(--light-accent);
}
.card-item__swiper:not(.swiper-initialized) .swiper-wrapper{
    display: grid;
    grid-template-columns: 1fr;
}
.card-item__swiper:not(.swiper-initialized) .swiper-wrapper .swiper-slide{
    display: none;
}
.card-item__swiper:not(.swiper-initialized) .swiper-wrapper .swiper-slide:first-child{
    display: block;
}
.card-item{
    border-radius: 4px;
    padding: 24px;
    background: var(--light-background);
    text-align: center;
}
.card-item__img{
    padding-bottom: 92%;
}
.card-item__img img{
    object-fit: contain;
}
.card-item,
.card-item__top,
.card-item__content,
.card-item__btns,
.card-item__header{
    display: flex;
    flex-direction: column;
}
.card-item__btns,
.card-item__header{
    gap: 8px;
}
.card-item,
.card-item__content{
    gap: 16px;
}
.card-item__top{
    gap: 24px;
}
.card-item__title{
    text-decoration: none;
    display: block;
}

@media all and (max-width: 1200px){
    .card-item__img{
        padding-bottom: 76%;
    }
}

@media all and (max-width: 768px){
    .card-item{
        padding: 16px;
    }
}